/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app-container {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
}

h1 {
  color: #ff4d94;
  font-size: 2rem;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin: 10px;
  width: 80%;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  background-color: #ff4d94;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff1e6b;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-bottom: 10px;
}

.result {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #ff4d94;
}

input:focus {
  outline: none;
  border-color: #ff4d94;
}
